* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    border-collapse: collapse;
    /* no outline (dotted border) after cklicking object */
    outline: none;
    /* prevent padding changing dimensions */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

/* CONTENT ON THE LEFT SIDE */

#library {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 60%;
    overflow: auto;
}

#library #search  {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 4.5em;
    padding: 0.6em 0.6em 0.6em 0.6em;
    z-index: 10;
    box-shadow: 0 0 20px 10px rgba(255,255,255,1);
}

#library #search input {
    width: 98%;
    height: 100%;
    line-height: 100%;
    border-bottom: 3px solid black;
    font-weight: bold;
    font-size: 1.6em;
    padding-left: 1.6em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" enable-background="new 0 0 300 300"><style type="text/css">.st0{opacity:0.8;} .st1{fill:none;stroke:#000000;stroke-width:35;stroke-miterlimit:10;} .st2{fill:none;stroke:#000000;stroke-width:35;stroke-linecap:round;stroke-miterlimit:10;}</style><g class="st0"><circle class="st1" cx="118.1" cy="120.1" r="97.3"/><line class="st2" x1="186" y1="189.8" x2="278.4" y2="278.7"/></g></svg>');
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: left center;
}

#library #results {
    position: absolute;
    left: 0; top: 4.5em;
    bottom: 0;
    width: 100%;
    padding: 2em 0.5em 2em 0.5em;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}

#library .furniture-item {
    margin-right: 1em;
    margin-bottom: 1em;
    min-width: 120px;
    height: 120px;
    flex: 1;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 500ms ease-out;
    text-align: center;
    margin: 0 auto 0 auto;
}

#library .furniture-item .image {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#library .furniture-item .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    /*
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 70%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 70%);
    */
    opacity: 0;
    transition: opacity 200ms ease-out;
    text-align: center;
}

#library .furniture-item .overlay:hover {
    opacity: 1;
}

#library .furniture-item .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0.3em 0 0.3em 0;
    color: white;
}

#library .furniture-item .name {
    font-weight: bold;
}

#library .furniture-item .manufacturer {
    font-weight: 200;
}

/* mobile */
@media (max-width: 800px) {
    #library {
        width: 100%;
    }
}

/* CONTENT ON THE RIGHT SIDE */

#details {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 40%;
    padding: 1em;
    overflow: auto;
}

#details p {
    margin: 1em 0 1em 0;
}

#details #preview {
    width: 100%;
    height: 300px;
}

#details .jsfiddle-button {
    padding: 0.3em 0.6em;
    border: 1px solid gray;
    background: #eee;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve"><title>icon-android</title><path d="M122.3,69.1c-2.8-4.1-6.4-7-11-8.9c0-0.2,0-0.6,0-1.1c0-0.5,0-0.9,0-1.1c0-6.6-1.7-12.8-5-18.4c-3.3-5.6-7.8-10.1-13.5-13.4 C87.2,23,81,21.3,74.2,21.3c-7.3,0-13.9,1.9-19.9,5.7S43.7,36,40.7,42.2c-3.1-2.4-6.6-3.5-10.5-3.5c-4.8,0-8.8,1.6-12.2,4.9 c-3.3,3.3-5,7.3-5,12c0,1.8,0.2,3.4,0.7,5c-3.7,2.2-6.7,5.2-9,9C2.5,73.4,1.4,77.5,1.4,82c0,6.7,2.4,12.4,7.2,17.1 c4.8,4.7,10.7,7.3,17.6,7.7h74.4c0.1,0,0.3,0,0.6,0c0.3,0,0.5,0,0.7,0c6.8,0,12.6-2.4,17.4-7.1c4.8-4.7,7.2-10.5,7.2-17.1 C126.5,77.7,125.1,73.1,122.3,69.1z M96.3,88.3c-3.4,2.9-7.6,4.4-12.5,4.4c-2.6,0-5.1-0.4-7.4-1.3c-2.3-0.9-4.3-2-5.9-3.4 s-3.2-2.9-4.7-4.6c-1.5-1.7-2.9-3.3-4.2-5s-2.6-3.2-4-4.6c-1.3-1.4-2.8-2.5-4.5-3.4c-1.6-0.9-3.4-1.3-5.2-1.3c-2.2,0-4,0.7-5.6,2.1 c-1.6,1.4-2.4,3.2-2.4,5.3c0,2.2,0.8,4,2.4,5.3c1.6,1.4,3.5,2,5.7,2c3.1,0,6.1-1.3,8.8-4c0.5,0.6,1.4,1.6,2.7,3.1s2.3,2.6,2.9,3.5 c-4.2,4-9.1,6-14.7,6c-5.1,0-9.3-1.4-12.7-4.3c-3.4-2.9-5.1-6.8-5.1-11.8c0-4.8,1.7-8.7,5.2-11.6c3.5-2.9,7.7-4.3,12.6-4.3 c2.6,0,5,0.4,7.2,1.3s4.2,2,5.9,3.4c1.7,1.4,3.2,2.9,4.7,4.6c1.5,1.7,2.9,3.3,4.2,5c1.3,1.7,2.7,3.2,4,4.6c1.3,1.4,2.8,2.5,4.4,3.4 c1.6,0.9,3.3,1.3,5,1.3c2.3,0,4.2-0.7,5.7-2.1c1.5-1.4,2.3-3.3,2.3-5.6c0-2.1-0.8-3.8-2.4-5.1c-1.6-1.3-3.5-2-5.6-2 c-3.1,0-6,1.3-8.7,3.9c-0.4-0.5-1-1.2-1.8-2.1s-1.5-1.7-2.1-2.4c-0.6-0.7-1.2-1.4-1.8-2.1c4-4,8.9-5.9,14.7-5.9 c5,0,9.2,1.4,12.6,4.3c3.4,2.9,5.1,6.8,5.1,11.7C101.4,81.5,99.7,85.4,96.3,88.3z"/></svg>');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: 0.3em center;
    padding-left: 2.3em;
}

/* mobile */
@media (max-width: 800px) {
    #details {
        width: 100%;
    }
}